<div class="product_variants my-3">
    {% unless product.has_only_default_variant %}
    <div class="product_options my-3">
        {% for option in product.options_with_values %}
            <strong>{{ option.name }}</strong><br>
            {% if variant_type == 'pills' %}
                {% for value in option.values %}
                    <label class="variant-pill" for="{{ value.name | downcase }}">
                        <input type="radio" id="{{ value.name | downcase }}" name="{{ option.name | downcase }}" value="{{ value.name }}"{% if option.selected_value == value %} checked {% endif %}>
                        <span class="variant_button">{{ value.name }}</span>
                    </label>
                {% endfor %}
            {% else %}
                <div class="variant_selector">
                    <select class="variant_select form-control w-50">
                        {% for value in option.values %}
                            <option value="{{ value.name }}" {% if option.selected_value == value %} selected {% endif %}>{{ value.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
    <select name="variant" class="variant">
        {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }}</option>
        {% endfor %}
    </select>
    {% endunless %}
</div>
