{{ 'glider.min.css' | asset_url | stylesheet_tag }}

<style>
  .card {
    border: 1px solid #333333;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
  }
  .glider-track {
    gap: 20px;
  }
</style>

<h1>Custom Carousel Glider</h1>
<div class="page-width" id="{{ section.id }}">
  <div class="glider">
    {% for block in section.blocks %}
      {%- if block.type == 'product' -%}
        <a href="{{ block.settings.product.url }}" class="card">
          <span class="card_image">
            {{ block.settings.product.featured_image | image_url: width: 100 | image_tag -}}
          </span>
          <p>{{ block.settings.title | default: block.settings.product.title }}</p>
        </a>
      {%- endif -%}
    {% endfor %}
  </div>
  <button class="prev">Prev</button>
  <button class="next">Next</button>
</div>

<script src="{{ 'glider.min.js' |  asset_url }}" async></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    new Glider(document.querySelector('.glider'), {
      slidesToShow: {{ section.settings.number_slider_desktop }},
      arrows: {
        prev: document.querySelector('#{{ section.id }} .prev'),
        next: document.querySelector('#{{ section.id }} .next'),
      },
    });
  });
</script>
{% schema %}
{
  "name": "Custom Carousel Glider",
  "settings": [
    {
      "type": "number",
      "id": "number_slider_desktop",
      "label": "Number of Slider (Desktop)",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "label": "Product",
          "id": "product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Optional. will use the product title if left blank"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Carousel Glider"
    }
  ]
}
{% endschema %}
