{{ 'glider.min.css' | asset_url | stylesheet_tag }}

<h1>Custom Carousel Glider</h1>
<div class="page-width" id="{{ section.id }}">
  <div class="glider">
    {% for block in section.blocks %}
      {%- if block.type == 'product' -%}
        <p>{{ block.settings.product.title }}</p>
      {%- endif -%}
    {% endfor %}
  </div>
  <button class="prev">Prev</button>
  <button class="next">Next</button>
</div>

<script src="{{ 'glider.min.js' |  asset_url }}" async></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    new Glider(document.querySelector('.glider'), {
      arrows: {
        prev: '#{{ section.id }}.prev',
        // may also pass element directly
        next: '#{{ section.id }}.next',
      },
    });
  });
</script>
{% schema %}
{
  "name": "Custom Carousel Glider",
  "settings": [
    {
      "type": "number",
      "id": "number_slider_desktop",
      "label": "Number of Slider (Desktop)"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "label": "Product",
          "id": "product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Optional. will use the product title if left blank"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Carousel Glider"
    }
  ]
}
{% endschema %}
