<section
  class="hero-banner"
  style="background-image:url({{ section.settings.hero_image | image_url }})"
>
  {% assign overlay = section.settings.overlay %}
  {% if overlay == true %}
    <div class="s-overlay">{{ section.settings.overlay }}</div>
  {% endif %}
  <div class="container">
    <div class="hero-content">
      <h1>{{ section.settings.title }}</h1>
      <p>{{ section.settings.text }}</p>
      <div class="banner-CTA">
        <div class="cta-action">
          <a href="{{ section.settings.url_1 }}" class="btn-color">
            {{- section.settings.label_1 -}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
              .hero-banner {
                background-size: cover;
                position:relative;
              }
            .s-overlay {
                position: absolute;
                background: #454f5b5c;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }

              .container {
                width: calc(100% - 150px);
                margin: auto;
              }

             .hero-content {
                min-height: 80vh;
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                z-index: 2;
            }

              .hero-content h1 {
                font-size: 67px;
                color: {{ section.settings.color}};
                margin: 0;
              }

              .hero-content p {
                font-size: 20px;
                color: {{ section.settings.color}};
              }
        .banner-CTA {
          margin-top: 20px;
      }
         .btn-color {
            color: white;
            background: #e11687;
            padding: 10px 20px;
            border-radius: 20px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
        }

            .btn-color:hover{
              background:#9b0f5d;
              border-radius: 20px;
            }
    #shopify-section-testimonial-section .multicolumn {
      padding: 35px 0px;
      background: #eaeaea;
      margin: 60px 0;
  }
</style>

{% schema %}
{
  "name": "Custom Landing Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Select Hero Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Select Hero Title",
      "default": "Write Your Landing Page Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Write Your Text",
      "default": "<p>Write Your Text</p>"
    },
     {
      "type": "color",
      "id": "color",
      "label": "Pick Your Color",
      "default":"#000"
    },
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Select Overlay",
      "default":false
    },
    {
            "type": "text",
            "id": "label_1",
            "label": "Button Label",
            "default": "SHOP MOST POPULAR STYLES"
        },
        {
            "type": "url",
            "id": "url_1",
            "label": "Button Link"
        }

  ]
}
{% endschema %}
