<div class="main-account-{{section.id}}">
    
    <div class="container my-5">
        <div class="heading-section d-flex justify-content-between align-items-center">
        <div class="customer-info">
            <h3>Welcome, <span class="text-capitalize">{{ customer.first_name }}!</span></h3>
        </div>
        <div class="customer-action">
            <a href="{{ routes.account_logout_url }}">Logout</a>
        </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h4>Orders</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Order Date</th>
                            <th>Payment Status</th>
                            <th>Fulfillment Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in customer.orders %}
                            <tr>
                                <td>
                                    <a href="{{ order.customer_url }}">
                                        {{ order.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ order.created_at |  time_tag: format: 'date' }}
                                </td>
                                <td>{{ order.financial_status_label }}</td>
                                <td>{{ order.fulfillment_status_label }}</td>
                                <td> {{ order.total_net_amount |  money_with_currency }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <h4>Address</h4>
                {{ customer.default_address |  format_address }}
               <a href=" {{ routes.account_addresses_url }}">Account Address</a>
            </div>
        </div>
    </div>

</div>
{% schema %}
{
    "name": "Customer Account",
    "settings": []
}
{% endschema %}