<div class="search-template-section">
    <div class="container">
        <div class="search-from-header">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{{ routes.search_url }}" method="get" role="search">
                        <div class="d-flex">
                            <input class="form-control mx-2" type="search" name="q" id="searchBox" value="{{ search.terms |  escape }}" placeholder="Search">
                            <input type="hidden" name="options[prefix]" class="hidden" value="last">
                            <button type="submit" class="btn btn-success btn-sm"> Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if search.results.size > 0 %}
            <div class="main-results">
                {% for item in search.results %}
                    {% case item.object_type %}
                        {% when 'product' %}
                            {% render 'card-product', product: item %}
                          
                        {% when 'article' %}
                            <div class="article col-md-3">
                                <a href="{{ item.url }}"> {{ item.title }}</a>
                            </div>
                         {% when 'page' %}
                            <div class="page col-md-3">
                                <a href="{{ item.url }}"> {{ item.title }}</a>
                            </div>
                        {% else %}
                            
                    {% endcase %}
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <p>No result found</p>
            </div>
        {% endif %}
    </div>
</div>