<div class="main-article-template">
    <div class="container">
        {% if article.image %}
            <div class="article-img">
                {{ article.image |  image_url: width: 1100 |  image_tag  }}
            </div>
        {% endif %}

        <div class="article-heading mt-2">
        <h1 class="heading">{{ article.title |  escape }}</h1>
        </div>
        <div class="article-info">
            <span class="author-name">{{ article.author }} :</span><br>
            &bull;
            <span class="article-publish-date">{{ article.published_at |  time_tag: formate: 'date' }}</span>
        </div>
        <hr/>
        <div class="article-content">
            {{ article.content }}
        </div>

        <div class="action-back text-center my-3">
            <a href="{{ blog.url }}" class="btn btn-success"> Back To {{ blog.title }}</a>
        </div>

        {% if blog.comments_enabled? %}
            {% if article.comments_count > 0 %}
               {% for comment in article.comments %}
                {% if article.status != 'pending' and comment.content %}
                    <div class="comment-area">

                    <article class="comment-article">
                        <div class="author-info">
                            <div class="d-flex author-details align-items-center">
                                <div class="author-icon mx-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                    <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z"/>
                                  </svg>
                                </div>

                                <div class="time-details">
                                    <h5>{{ comment.author }}</h5>
                                    <span>{{ comment.created_at |  time_tag: format: 'date' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box my-2">
                            {{ comment.content }}
                        </div>
                    </article>
                       
                    </div>
            
                {% endif %}
               {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>