<div class="blog-template">
    <div class="container">
        <div class="blog-title">
            <h2>{{ blog.title }}</h2>
        </div>
        <div class="row">
            {% for article in blog.articles %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {% if article.image != blank %}
                                {{ article.image |  image_url: width:350 |  image_tag  }}

                             {% else %}
                             {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a href="{{ article.url }}">{{ article.title | truncate:30 |  escape}}</a>
                            <div class="d-flex justify-content-between">
                                <span class="article-date"> {{ article.published_at |  time_tag: formate: 'abbreviated_date' }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>