<div class="main-order-details">
    <div class="container">
        <div class="page-heading my-5">
            <h2>Order Details</h2>
            <a href="{{ routes.account_url }}">Return to Dashboard</a>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="header mb-3">
                    <h3>Order {{ order.name }}</h3>
                    <p><span class="text-bold">Placed on:</span> {{ order.created_at |  time_tag: format:'date_at_time' }}</p>
                    {% if order.cancelled %}
                        <p>Cancelled on {{ order.cancelled_at |  time_tag: format: 'date_at_time' }}</p>
                        <p>Reason: {{ order.cancel_reason }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="shipping-address">

                </div>
            </div>
        </div>
        
    </div>
</div>