<div class="addresses-section">
    <div class="container">
        <div class="heading-section text-center my-5">
            <h2>Edit Address</h2>
            <hr>
            <div class="add-new-address">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newAddressModal">Add New Address</button>
            </div>
        </div>
        <div class="row">
            {% for address in customer.addresses %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                         <div class="d-flex">
                            <div class="col">
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteAddress">Delete</button>
                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{ forloop.index }}">Edit</button>
                            </div>
                         </div>   
                        </div>
                        <div class="card-body">
                            {{ address | format_address }}
                        </div>
                    </div>

                    <!-- Bootstrap Modal Start -->
                    <div class="modal fade" id="editModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-between align-items-center">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit Address</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% form 'customer_address', address %}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="First Name">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-2">
                                            <input type="text" name="address[company]" value="{{ form.company }}" class="form-control" placeholder="Company Name">
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="address[address1]" value="{{ form.address1 }}" class="form-control" placeholder="Address 1">
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="address[address2]" value="{{ form.address2 }}" class="form-control" placeholder="Address 2">
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="address[city]" value="{{ form.city }}" class="form-control" placeholder="City">
                                        </div>
                                        <div class="form-group mb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="select-country">
                                                        <label>Select Country</label>
                                                        <select name="address[country]" class="form-control" data-default="{{form.country}}">{{ all_country_option_tags }}</select>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="select-province" style="display: none;">
                                                        <label>Select Province</label>
                                                        <select name="address[province]" class="form-control" data-default="{{form.province}}"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="address[zip]" value="{{ form.zip }}" class="form-control mb-2" placeholder="Zip Code">
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="address[phone]" value="{{ form.phone }}" class="form-control mb-2" placeholder="Phone No">
                                        </div>
                                        <div class="form-group mb-2">
                                            {{ form.set_as_default_checkbox }}
                                            <label for="address_default_address_{{form.id}}">Set all as default address</label>
                                        </div>
                                        <div class="action my-3 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-success mx-2">Update</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    {% endform %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Add New Address Bootstrap Modal Start -->
<div class="modal fade" id="newAddressModal" tabindex="-1" role="dialog" aria-labelledby="newAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="newAddressModalTitle">Add New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% form 'customer_address', customer.new_address %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="First Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="Last Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <input type="text" name="address[company]" value="{{ form.company }}" class="form-control" placeholder="Company Name">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="address[address1]" value="{{ form.address1 }}" class="form-control" placeholder="Address 1">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="address[address2]" value="{{ form.address2 }}" class="form-control" placeholder="Address 2">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="address[city]" value="{{ form.city }}" class="form-control" placeholder="City">
                    </div>
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="select-country">
                                    <label>Select Country</label>
                                    <select name="address[country]" class="form-control" data-default="{{form.country}}">{{ all_country_option_tags }}</select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="select-province" style="display: none;">
                                    <label>Select Province</label>
                                    <select name="address[province]" class="form-control" data-default="{{form.province}}"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="address[zip]" value="{{ form.zip }}" class="form-control mb-2" placeholder="Zip Code">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="address[phone]" value="{{ form.phone }}" class="form-control mb-2" placeholder="Phone No">
                    </div>
                    <div class="form-group mb-2">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{form.id}}">Set all as default address</label>
                    </div>
                    <div class="action my-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-success mx-2">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</div>
<!-- Add New Address Modal End -->

<!-- Delete Address Bootstrap Modal Start -->
<div class="modal fade" id="deleteAddress" tabindex="-1" role="dialog" aria-labelledby="deleteAddressLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="deleteAddressTitle">Warning...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Are you sure to Delete Address?</h4>
            </div>
            <div class="card-footer">
                <div class="action my-3 d-flex justify-content-end">
                    <div class="delete-form">
                        <form action="/account/addresses/{{ address.id }}" method="post" class="mx-2"></form>
                        <input type="hidden" name="_method" value="delete">
                    </div>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-success mx-2" data-bs-dismiss="modal">Cancel</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Address Modal End -->


<script>
<!-- Jquery Start -->
$(document).ready(function () {
    // Function to populate provinces dropdown
    function populateProvinces($countrySelect, provinces, selectedProvince) {
        var $provincesSelect = $countrySelect.closest('.col').next('.col').find('.select-province');
        var $provincesSelector = $provincesSelect.find('select');
        $provincesSelector.empty();

        if (provinces && provinces.length > 0) {
            $.each(provinces, function (index, province) {
                $provincesSelector.append($('<option>', {
                    value: province[0],
                    text: province[1]
                }));
            });

            // Set the selected province
            if (selectedProvince) {
                $provincesSelector.find('option').each(function () {
                    if ($(this).val() === selectedProvince) {
                        $(this).prop('selected', true);
                        return false; // Stop the loop once the selected option is found
                    }
                });
            }

            $provincesSelect.show();
        } else {
            $provincesSelect.hide();
        }
    }

    // Initial setup
    $('.select-country select').each(function () {
        var selectedCountry = $(this).data('default');
        $(this).find('option').each(function () {
            if ($(this).val() === selectedCountry) {
                $(this).prop('selected', true);
                return false;
            }
        });

        var provinces = $(this).find('option:selected').data('provinces');
        var selectedProvince = $(this).closest('.col').next('.col').find('.select-province select').data('default');
        
        // If provinces is a JSON string, parse it
        if (typeof provinces === 'string') {
            provinces = JSON.parse(provinces);
        }

        populateProvinces($(this), provinces, selectedProvince);
    });

    // Event handler for changing the country
    $('.select-country select').change(function () {
        var provinces = $(this).find('option:selected').data('provinces');
        
        // If provinces is a JSON string, parse it
        if (typeof provinces === 'string') {
            provinces = JSON.parse(provinces);
        }

        populateProvinces($(this), provinces, null);
    });
});

<!-- Jquery End -->

<!-- Javascript Start -->

  /*
document.addEventListener('DOMContentLoaded', function () {
    // Function to populate provinces dropdown
    function populateProvinces(countrySelect, provinces, selectedProvince) {
        const provinceSelectContainer = countrySelect.closest('.col').nextElementSibling.querySelector('.select-province');
        const provinceSelector = provinceSelectContainer.querySelector('select');
        provinceSelector.innerHTML = ''; // Clear the existing options

        if (provinces && provinces.length > 0) {
            provinces.forEach(function (province) {
                const option = document.createElement('option');
                option.value = province[0];
                option.text = province[1];
                provinceSelector.appendChild(option);
            });

            if (selectedProvince) {
                Array.from(provinceSelector.options).forEach(function (option) {
                    if (option.value === selectedProvince) {
                        option.selected = true;
                    }
                });
            }

            provinceSelectContainer.style.display = 'block';
        } else {
            provinceSelectContainer.style.display = 'none';
        }
    }

    // Initial setup
    document.querySelectorAll('.select-country select').forEach(function (countrySelect) {
        const selectedCountry = countrySelect.getAttribute('data-default');

        Array.from(countrySelect.options).forEach(function (option) {
            if (option.value === selectedCountry) {
                option.selected = true;
            }
        });

        let provinces = countrySelect.options[countrySelect.selectedIndex].getAttribute('data-provinces');
        const provinceSelector = countrySelect.closest('.col').nextElementSibling.querySelector('.select-province select');
        const selectedProvince = provinceSelector.getAttribute('data-default');

        // If provinces is a JSON string, parse it
        if (typeof provinces === 'string') {
            provinces = JSON.parse(provinces);
        }

        populateProvinces(countrySelect, provinces, selectedProvince);
    });

    // Event handler for changing the country
    document.querySelectorAll('.select-country select').forEach(function (countrySelect) {
        countrySelect.addEventListener('change', function () {
            let provinces = this.options[this.selectedIndex].getAttribute('data-provinces');

            // If provinces is a JSON string, parse it
            if (typeof provinces === 'string') {
                provinces = JSON.parse(provinces);
            }
            populateProvinces(this, provinces, null);
        });
    });
});

*/

<!-- Javascript End -->

</script>



