<div class="main-order-details">
    <div class="container">
        <div class="page-heading my-5">
            <h2>Order Details</h2>
            <a href="{{ routes.account_url }}">Return to Dashboard</a>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="header mb-3">
                    <h3>Order {{ order.name }}</h3>
                    <p>Placed on: {{ order.created_at |  time_tag: format:'date_at_time' }}</p>
                    {% if order.cancelled %}
                        <p>Cancelled on {{ order.cancelled_at |  time_tag: format: 'date_at_time' }}</p>
                        <p>Reason: {{ order.cancel_reason_label }}</p>
                    {% endif %}
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>SKU</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item_item in order.line_items %}
                            <tr>
                                <td>
                                    <div class="product-info">
                                        {% if line_item.url != blank %}
                                        <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                                        {% else %}
                                        <p>{{ line_item.title }}</p>

                                    {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="shipping-address">

                </div>
            </div>
        </div>
        
    </div>
</div>