<div class="main-article-template">
    <div class="container">
        {% if article.image %}
            <div class="article-img">
                {{ article.image |  image_url: width: 1100 |  image_tag  }}
            </div>
        {% endif %}

        <div class="article-heading my-2">
        <h1 class="heading">{{ article.title |  escape }}</h1>
        </div>
        <div class="article-info">
            <span class="author-name">Author: {{ article.author }}</span><br>
            <span class="article-publish-date">{{ article.published_at |  time_tag: formate: 'date' }}</span>
        </div>
        <hr/>
        <div class="article-content">
            {{ article.content }}
        </div>
    </div>
</div>